#{extends 'main.html' /}
#{set title: 'Lista'/}
<div class="container p-3 "> 
<h2>Lista de Lojas</h2>
</div>
<div class="container col-8 p-4">


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Proprietário</th>
				<th>CPF</th>
				<th>Nome da loja</th>
				<th>CNPJ</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			#{list items:listaLoj, as:'loj'}
			<tr>
				<td>${loj.nomeProprietario}</td>
				<td>${loj.cpf}</td>
				<td>${loj.nomeLoja}</td>
				<td>${loj.cnpj}</td>
				<td>
					<a class="btn btn-outline-dark" type="submit" href="@{Produtos.editar(loj.id)}">Editar</a>
					<a class="btn btn-outline-dark" type="submit" href="@{Produtos.deletar(loj.id)}">Remover</a>
				</br>
			</tr>
			#{/list}
		</tbody>
	</table>
	<div class="container p-3 d-flex justify-content-center ">
	<a href="@{Lojas.form}" class="col-2 btn btn-dark">Cadastrar</a>
	</div>
</div>