.color1{
	background-color: #27476E;
	
}

.colorBase { 
	background-color: #F4EDE5; 
};

.color2{
	color: #ECA400;
}

.color3{
	background-color: #000000;
}

.menu-color{
	color:   #ECA400;
}

.logo{
	display: flex;
	width: 50px;
	align-items: center;
}

