#{extends 'main.html' /}
#{set title:'Cadastro de Produtos'/}

<div  class="container col-4">
	<form action="@{Lojas.salvar}">
	
		<input type="hidden" name="loj.id" class="form-control" value="${loj?.id}">
		
		<div class="mb-3">
			<label class="form-label">Nome do Proprietário:</label>
			<input type="text" name="loj.nomeProprietario" class="form-control">
		</div>
		
		<div class="mb-3">
			<label class="form-label">CPF do Proprietário:</label>
			<input type="number" name="loj.cpf" class="form-control">
		</div>
		
		<div class="mb-3">
			<label class="form-label">Nome da loja:</label>
			<input type="text" name="loj.nomeLoja" class="form-control" >
		</div>
		
		<div class="mb-3">
			<label class="form-label">CNPJ:</label>
			<input type="number" class="form-control" name="loj.cnpj" rows="3"></input>
		</div>
		<div class="container p-3 d-flex justify-content-center ">
		<input class="btn btn-dark col-2" type="submit" />
		</div>
	</form>
</div>